@import "style/variables.scss";

.input-group {
  width: 90%;
  max-width: 700px;
  margin: 0 auto 30px auto;

  &__label {
    left: 0 !important;
  }

  &__message {
    margin-top: 12px;
    color: $color-valid;
  }

  & input:focus + .required::after {
    content: "" !important;
  }
}

.required::after {
  content: "*" !important;
  margin-left: 0.2em;
  color: $color-error;
  display: inline !important;
  opacity: 1 !important;
  position: static !important;
}
