@import "style/variables.scss";

.pager {
  margin-top: 30px;
  font-size: $font-size-h4;
  display: flex;
  justify-content: center;

  &__item {
    width: 30px;
    cursor: pointer;
    text-align: center;

    &:hover {
      color: #999;
    }
  }
}

.loader {
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapsible-header {
  background-color: $color-bg;
}

.item {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    overflow-wrap: anywhere;
  }

  &__body {
    padding: 2.5em 1.5em 0 1.5em;
  }

  &__input-field {
    margin-bottom: 0;
  }

  &__label {
    left: 0 !important;
  }

  &__delete {
    margin-left: 10px;
    flex-shrink: 0;

    i {
      margin-left: -4px;
      margin-right: 0;
    }
  }
}
