@import "style/variables.scss";

.header {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: $color-accent-2;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  flex-direction: column;
  color: #FFF;
  padding: 35px 50px;

  @media screen and (max-width: 400px) {
    background-size: cover;
  }

  a {
    margin-bottom: 10px;
    text-decoration: underline;
  }

  span {
    text-align: right;
  }
}
